*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;

  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: #54b689;
}

.header__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;

  background-color: #54b689;
  list-style-type: none;
}

.header-nav li {
  padding: 15px 0;

  color: #ffffff;
}

.header-nav__link {
  position: relative;

  padding: 0 10px;
}

.header-nav__link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10px;

  height: 2px;
  width: calc(100% - 20px);

  opacity: 0;
  background-color: #ffffff;
  transform-origin: .5s;
}

.header-nav__link:hover::after {
  opacity: 1;
  animation-name: menu;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

@keyframes menu {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 20px);
  }
}

.header-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 0;
  padding: 25px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.about__wrapper h1 {
  margin: 0;

  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #54b689;
}

.about__wrapper p {
  margin: 0;
  padding-top: 10px;

  font-weight: 300;
  letter-spacing: 0.05em;
}

.contacts ul {
  margin: 0;
  padding: 0;
  padding-right: 80px;

  list-style-type: none;
}

.contacts li {
  padding: 3px 0;

  font-weight: 700;
}

.contacts a {
  font-weight: 400;
}

.contacts a:hover {
  color: #71c39e;
}

.summary {
  display: flex;
  align-items: center;
  padding: 40px 0;

  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}

.summary img {
  margin-right: 100px;
}

.summary p {
  margin: 0;

  line-height: 25px;
}

.title {
  margin: 0;
  padding-top: 40px;

  font-size: 34px;
  color: #54b689;
}

.skills {
  border-bottom: 1px solid #a8a8a8;
}

.skills ul {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  
  list-style-type: none;
}

.skills li {
  padding: 10px 0;
  padding-left: 40px;
}

.skills li::before {
  content: '';
  position: absolute;
  left: 0;
  background-size: 27px 27px;
  width: 27px;
  height: 27px;
}

.skills__html::before {
  background-image: url('assets/img/html.png');
}

.skills__css::before {
  background-image: url('assets/img/css.png');
}

.skills__scss::before {
  background-image: url('assets/img/sass.png');
}

.skills__js::before {
  background-image: url('assets/img/javascript.png');
}

.skills__git::before {
  background-image: url('assets/img/git.png');
}

.code {
  border-bottom: 1px solid #a8a8a8;
}

.code pre {
  margin: 0;
  padding: 20px 0;
}

.courses {
  border-bottom: 1px solid #a8a8a8;
}

.courses ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-weight: 600;
  list-style-type: none;
}

.courses span {
  font-weight: 400;
  color: #54b689;
}

.project {
  border-bottom: 1px solid #a8a8a8;
}

.project ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  list-style-type: none;
}

.project a {
  font-weight: 600;
}

.project a:hover {
  color: #54b689;
}

.education {
  border-bottom: 1px solid #a8a8a8;
}

.education p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-weight: 600;
}

.languages ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 60px;

  list-style-type: none;
}

.languages span {
  font-weight: 600;
}

.footer {
  background-color: #54b689;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #ffffff;
}

.footer__container a:hover {
  opacity: 0.8;
}

.rsschool {
  fill: #ffffff;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 40px;
  }

  .header ul {
    padding: 0 40px;
  }
}

@media (max-width: 992px) {
  .about__wrapper {
    width: 350px;
  }

  .contacts ul {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .header {
    min-height: 50px;
  }

  .header-nav__link::after {
    content: none;
  }

  .header__overflow-hidden {
    overflow: hidden;
  }

  .header-nav ul {
    flex-direction: column;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 50px;
  }

  .header-nav li {
    width: 100%;
    padding: 0;
    border-top: 1px solid #71c39e;
  }

  .header-nav li:last-child {
    border-bottom: 1px solid #71c39e;
  }

  .header-nav__link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
  }

  .header-nav__link:hover {
    background-color: #71c39e;
  }

  .header-nav--closed ul {
    display: none;
  }

  .header-nav--nojs ul {
    display: block;
  }

  .header-nav--nojs .header-nav__toggle {
    display: none;
  }

  .header-nav__toggle {
    display: block;
  }

  .header-nav--opened .header-nav__toggle {
    display: block;
  }

  .header-nav--closed .header-nav__toggle::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    width: 20px;
    height: 1.5px;
    background-color: #ffffff;
    box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff;
  }

  .header-nav--opened .header-nav__toggle::before,
  .header-nav--opened .header-nav__toggle::after {
    content: "";
      position: absolute;
      top: 24px;
      right: 19px;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
  }

  .header-nav--opened .header-nav__toggle::before {
    transform: rotate(45deg);
  }

  .header-nav--opened .header-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .header-nav--opened ul {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #54b689;
  }

  .header-nav--opened ul::-webkit-scrollbar {
    width: 0;
  }

  .about {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__wrapper {
    width: 100%;
  }

  .contacts {
    padding-top: 30px;
  }

  .summary {
    flex-direction: column;
  }

  .summary img {
    margin-right: 0;
  }

  .summary p {
    padding-top: 30px;
  }
}
